body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
  	text-decoration: none;
}

.main-navigation {
 	font-size: 14px;
  	line-height: 26px;
  	font-weight: 700;
  	color: #333333;
  
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
  	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.main-header {
	background-color: #ffffff;
  	background-image: url("../img/background-photo.jpg");
  	background-repeat: no-repeat;
  	height: 800px;
  	width: 1200px;
}

.filters {
	background-color: grey;
	color: #ffffff;
	text-transform: uppercase;
}

.filters button {
	color:#ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	text-transform: uppercase;
}

.filters ul {
	list-style: none;
}

.filters button:hover,
.filters button:focus {
	color:#000000;
	background-color: #ffffff;
	}

.filter-input:disabled + label {
  	color: #6a6a6a;
}

.catalog-list .hotel-link:hover, 
.catalog-list .hotel-link:focus {
color: #81b3d2;
}

.catalog-list .hotel-link:active {
	color: rgba(0,0,0,0.3);
}

.catalog-list .booking {
	background-color: #766357;
	color: #ffffff;
}
.catalog-list .booking:hover,
.catalog-list .booking:focus {
background-color: #604e43;
}

.catalog-list .booking:active {
	color: rgba(255,255,255,0.3);
}

.catalog-list .about {
	background-color: #81b3d2;
	color: #ffffff;
}
.catalog-list .about:hover,
.catalog-list .about:focus {
background-color: #669ec0;
}

.catalog-list .about:active {
	color: rgba(255,255,255,0.3);
}

.catalog-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;		
}

.reasons-list {
	list-style: none;
}

.reasons-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;	
}

.submit-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.submit-button:focus,
.submit-button:hover {
background-color: #669ec0;
}

.submit-button:active {
background-color: #5496bd;
color: rgba(255,255,255,0.3);
}

.form-button {
	font: inherit;
	text-align: center;
  	color: #a9a9a9;
  	vertical-align: middle;

  	border: none;
  	background-color: #f2f2f2;
}

.form-button:focus,
.form-button:hover {
	color: #000000;
}

.form-button:active {
	color: #81b3d2;
	}

.hotels-link {
	color: #ffffff;
	background-color: #766357;
}

.hotels-link:hover,
.hotels-link:focus {
	background-color: #604e43;
}

.hotels-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.filter fieldset {
  border: none;
}

.search input {
	font: inherit;

  	background-color: #ebebeb;
  	border: 2px solid #ebebeb;
}

.search input:focus {
	background-color: #ffffff;
}

.footer-social {
  	text-align: center;
  	
}

.social-list {
	list-style: none;
}

