body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}



a {
  	text-decoration: none;
}

.main-navigation {
 	font-size: 14px;
  	line-height: 26px;
  	font-weight: 700;
  	color: #333333;
  	display: flex;
  	background-color: white;
  	height: 60px;
  	

  
}

.container {
	width: 1200px;
  	margin: 0 auto;
  	outline: 2px solid red;
}
.center-img {

	display: block;
	margin: 0 auto 20px auto;
}
.bot-img {
	
}

.site-navigation {
	list-style: none;
	margin: 0;
  	padding: 0;
  	width: 530px;
  	min-height: 60px;
  	outline: 2px solid blue;
  }


.site-navigation a {
  	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.main-header {
	background-color: #ffffff;

}

.main-welcome {
	background-image: url("../img/background-photo.jpg");
  	background-repeat: no-repeat;
  	background-position: center -60px;
	
  	height: 430px;
  	width: 1200px;
  	padding-top: 80px;
  	outline: 2px solid green;
  	margin:0;
  }
.main-wrapper {
	background-color: white;
	height: 156px;
	padding-top: 60px;
	outline: 2px solid green;
		}

.main-wrapper p {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	width: 600px;
	margin: 0 auto 0 auto;
}

.main-wrapper h2 {
	margin: 40px 0 0 0;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}
.filters {
	background-color: grey;
	color: #ffffff;
	text-transform: uppercase;
}

.filters button {
	color:#ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	text-transform: uppercase;
}

.filters ul {
	list-style: none;
}

.filters button:hover,
.filters button:focus {
	color:#000000;
	background-color: #ffffff;
	}

.filter-input:disabled + label {
  	color: #6a6a6a;
}

.catalog-list {
	margin: 0;
}

.catalog-list .hotel-link:hover, 
.catalog-list .hotel-link:focus {
color: #81b3d2;
}

.catalog-list .hotel-link:active {
	color: rgba(0,0,0,0.3);
}

.catalog-list .booking {
	background-color: #766357;
	color: #ffffff;
}
.catalog-list .booking:hover,
.catalog-list .booking:focus {
background-color: #604e43;
}

.catalog-list .booking:active {
	color: rgba(255,255,255,0.3);
}

.catalog-list .about {
	background-color: #81b3d2;
	color: #ffffff;
}
.catalog-list .about:hover,
.catalog-list .about:focus {
background-color: #669ec0;
}

.catalog-list .about:active {
	color: rgba(255,255,255,0.3);
}

.catalog-list h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;		
}

.reasons {
	margin:0;
	
}
.reasons-list {
	list-style: none;
}

.reasons-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;	
}

.submit-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.submit-button:focus,
.submit-button:hover {
background-color: #669ec0;
}

.submit-button:active {
background-color: #5496bd;
color: rgba(255,255,255,0.3);
}

.form-button {
	font: inherit;
	text-align: center;
  	color: #a9a9a9;
  	vertical-align: middle;

  	border: none;
  	background-color: #f2f2f2;
}

.form-button:focus,
.form-button:hover {
	color: #000000;
}

.form-button:active {
	color: #81b3d2;
	}

.hotels-link {
	color: #ffffff;
	background-color: #766357;
}

.hotels-link:hover,
.hotels-link:focus {
	background-color: #604e43;
}

.hotels-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.filter fieldset {
  border: none;
}

.search input {
	font: inherit;

  	background-color: #ebebeb;
  	border: 2px solid #ebebeb;
}

.search input:focus {
	background-color: #ffffff;
}

.hotels-search {
	height: 230px;
	outline: 2px solid green;
	padding-top: 60px;
}
.hotels-search h2 {
	margin:0;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
.hotels-search p {
	margin: 35px auto 0 auto;
	width: 450px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	outline: 2px solid green;
}

.hotels-search-map {
	height: 473px;
	outline: 2px solid blue;
	overflow:hidden;

}

.main-footer .container {
	display: flex;
}
.footer-instagramm {
	min-height: 120px;
	outline: 2px solid green;
	width: 240px;
	margin-left: 70px;
}

.footer-instagramm a {
	margin: 0;
}

.footer-social {
  	text-align: center;
  	min-height: 120px;
	outline: 2px solid green;
	width: 400px;
	margin-left: 90px;
	margin-right: 90px;
	
}

.social-list {
	list-style: none;
	margin: 0;
}

.footer-copyright {
	min-height: 120px;
	outline: 2px solid green;
	width: 240px;

}
